.snomed-autocomplete-dropdown {
  position: absolute;
  top: 100%;
  left:0;
  right:0;

  border:5px solid #fff;
  border-left-width: 0;
  border-right-width: 0;
  .internal-container {
    padding:10px;
    background: #fff;
    border: 1px solid #222;
  }
}