.quoter-currency-group {
  .quoter-input {
    position:relative;
    margin-right:10px;
    input.warning {
      border: 1px solid red;
    }
    .warning-message {
      position:absolute;
      bottom: 103%;
      left: 0;
      color: red;
      font-size: 0.8rem;
      white-space: nowrap;
    }
  }
  .quoter-buysell {
    margin-right:10px;
  }
  .quoter-currency {

  }
}
.quoter-result {
  font-weight:bold;
  margin-right:10px;
}
.quoter-text {
  margin: 0 10px;
}
.additional-options {
  margin-left:10px;
  padding-left:10px;
  border-left: 1px solid #ccc;
}

.reset-timer {
  margin-top:10px;
  padding-top:10px;
  border-top: 1px solid #ccc;
  font-size: 0.8rem;
}