.quoter-currency-group {
  //flex: 1;
  .quoter-input {
    //flex: 1;
    margin-right:10px;
  }
  .quoter-buysell {
    margin-right:10px;
  }
  .quoter-currency {

  }
}
.quoter-result {
  font-weight:bold;
  margin-right:10px;
}
.quoter-text {
  margin: 0 10px;
}
.additional-options {
  margin-left:10px;
  padding-left:10px;
  border-left: 1px solid #ccc;
  .switch {

  }
}