.autocomplete-container {
  .autocomplete-item {
    padding: 10px;
    border-bottom:1px solid #eee;
    .label {
      font-size: 14px;
    }
    .item-id {
      color: #999;
      font-size:10px;
    }
    &:last-of-type {
      border-bottom: none;
    }
    &.current {
      background: $select-color;
      color: #fff;
      .item-id {
        color: #fff;
      }
    }
  }
}