.concept-info {
  padding:10px;
  overflow-y: scroll;
  overflow-x: hidden;

  .concept-name {
    font-size: 16px;
    font-weight: 500;
    color: #222;
    margin-bottom:1rem;
  }
  .concept-header {
    font-size:10px;
    font-weight:bold;
    color: #777;
    border-top: 1px solid #ccc;
    margin-top: 1rem;
  }
}