.concept-info {
  padding:10px;
  overflow-y: scroll;
  overflow-x: hidden;
  .concept-obsolete {
    margin:0 0 10px;
    padding:10px;
    background: pink;
    color: red;
  }
  .concept-name {
    font-size: 16px;
    font-weight: 500;
    color: #222;
    margin-bottom:1rem;
  }
  .concept-header {
    font-size:10px;
    font-weight:bold;
    color: #777;
    border-top: 1px solid #ccc;
    margin-top: 1rem;
  }
  .concept-body {
    font-size: 12px;
    .concept-alternative-term-link {
      color: $select-color;
    }
  }
}