.concept-hierarchy {
  @for $i from 0 through 20 {
    > div:nth-child(#{$i+1}) {
      border-left:#{2 + ($i * 10)}px solid #ccc;
    }
  }
  .hierarchy-children {
    border-left: 10px solid #ccc;
  }
  .hierarchy-node {
    cursor: pointer;
    padding:5px;
    line-height: 1.1;
    background: #fff;
    border-bottom:1px solid #ccc;

    .hierarchy-node-primary {
      font-size:12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 3px;
      .glyphicons {
        font-size:8px;
        margin-right: 2px;
        top: 3px;
      }
    }
    .hierarchy-node-secondary {
      font-size:10px;
      color: #444;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-left: 15px;
    }
    .hierarchy-node-name {
      font-size:12px;
    }
    .hierarchy-node-children-count {
      color: #999;
    }


    &.hierarchy-parent {

    }
    &.hierarchy-current {
      pointer: default;
      background: $select-color;
      color: #fff;
      .hierarchy-node-secondary,
      .hierarchy-node-children-count {
        color: #fff;
      }
    }
  }
}