$select-color: #7DB1EF;

.snomed-concept-search {
  position: relative;
  .snomed-concept-search-input {
    position:relative;
    z-index:2;
  }
}

@import "ConceptSearch/snomedCtConceptAutocomplete";